.position-ab {
  position: absolute;
}
.position-re {
  position: relative;
}
.font-size-16 {
  font-size: 16px;
}
.font-size-20 {
  font-size: 20px;
}
.flex-end {
  justify-content: flex-end;
}
.main-point-color {
  color: #36d8c1;
}
.display-f {
  display: flex;
}
.display-b {
  display: block;
}
.y-center {
  align-items: center;
}
.x-center {
  justify-content: center;
}
.align-center {
  justify-content: center;
  align-items: center;
}
.display-none {
  display: none;
}
.position-r {
  position: relative;
}
.position-fe {
 justify-content: flex-end;
}